<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <header>

    <nav class="navBar">
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/works">Works</a>
      <a href="/photo-gallery">Photo Gallery</a>
    </nav>

    <h1>Brendan Eich</h1>
    <h2>The creator of Javascript programming language</h2>
  </header>
  <body>
    

    <div id="creatorContainer">

      <img id="creator" src="/images/creator.jpeg" alt="" srcset="">
    </div>
    
  </body>
</html>
