<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Photo Gallery</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>

      <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/works">Works</a>
        <a href="/photo-gallery">Photo Gallery</a>
      </nav>
      <h2>Gallery</h2>
    </header>

    <img class="images" src="/images/fun.jpeg" alt="">
    <img class="images" src="/images/slide_2.jpeg" alt="">
    <img class="images" src="/images/mozilla.jpeg" alt="">
  </body>
</html>
