<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Works</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <header>

    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/works">Works</a>
      <a href="/photo-gallery">Photo Gallery</a>
    </nav>
    <h2>Career Highlights</h2>
  </header>
  
  <h2>Netscape</h2>
  <div class="carrer">
    <p>
      Eich started work at Netscape Communications Corporation in April 1995. Eich originally joined intending to put
      Scheme "in the browser",but his Netscape superiors insisted that the language's syntax resemble that of Java. As a
      result, Eich devised a language that had much of the functionality of Scheme, the object-orientation of Self, and
      the syntax of Java. He completed the first version in ten days in order to accommodate the Navigator 2.0 Beta
      release schedule, and was called Mocha, but renamed LiveScript in September 1995 and finally in a joint
      announcement with Sun Microsystems it was named JavaScript in December. Simultaneously, he designed the first
      SpiderMonkey engine for the Netscape Navigator browser at Netscape Communications. When Mozilla inherited the
      Netscape base code in 1998, it included this engine, which was written in the C programming language. It was then
      changed in JavaScript 1.5 to comply with the ECMA-262 standard Eich continued to oversee the development of
      SpiderMonkey, the specific implementation of JavaScript in Navigator.
    </p>
  </div>
  <h2>Mozilla</h2>
  <div class="carrer">
    <p>
      In early 1998, Eich co-founded the free and open source software project Mozilla with Jamie Zawinski and others, creating the mozilla.org website, which was meant to manage open-source contributions to the Netscape source code. He served as Mozilla's chief architect.[8] AOL bought Netscape in 1999. After AOL shut down the Netscape browser unit in July 2003, Eich helped spin out the Mozilla Foundation.[9]

In August 2005, after serving as a lead technologist and as a member of the board of directors of the Mozilla Foundation, Eich became chief technical officer (CTO) of the newly founded Mozilla Corporation, meant to be the Mozilla Foundation's for-profit arm.[9] Eich continued to "own" the Mozilla SpiderMonkey module, its JavaScript engine, until he passed on the ownership of it to Dave Mandolin in 2011.[7]

Appointment to CEO and resignation
On March 24, 2014, Mozilla made the decision to appoint Eich as CEO of Mozilla Corporation.[10][11][12] The appointment triggered widespread criticism due to Eich's past political donations[10][13][14][15] – specifically, a 2008 donation of $1,000 to California Proposition 8, which called for the banning of same-sex marriage in California,[16] and donations in the amount of $2,100 to Proposition 8 supporter Tom McClintock between 2008 and 2010.[17] The Wall Street Journal initially reported that, in protest against his coming appointment, half of Mozilla's board (Gary Kovacs, John Lilly, and Ellen Siminoff) stepped down,[18][19][20][21] leaving Mitchell Baker, Reid Hoffman, and Katharina Borchert.[22] CNET later reported that of the three board members who had left, only Lilly left due to Eich's appointment.[22] Lilly told The New York Times, "I left rather than appoint him", and declined to elaborate further.[23]

On March 26, 2014, Eich expressed "sorrow for causing pain" and pledged to "work with LGBT communities and allies" at Mozilla.[18][17] Some of the activists created an online campaign against Eich, with online dating site OkCupid automatically displaying a message to Firefox users with information about Eich's donation, and suggesting that users switch to a different browser (although giving them a link to continue with Firefox).[24][25][26] CREDO Mobile collected more than 50,000 signatures demanding that Eich resign.[12][27]

After 11 days as CEO, Eich resigned on April 3, 2014, and left Mozilla over his opposition to same-sex marriage.[28][29][30] In his personal blog, he posted, "under the present circumstances, I cannot be an effective leader".[31][32] Mozilla made a press release saying that board members tried to get Eich to stay in the company in a different role, but that he had chosen to sever ties for the time being.[33]

    </p>
  </div>

<h2>Brave Software</h2>
<div class="carrer">
  <p>
    Eich is the CEO of Brave Software, an Internet browser platform company that raised $2.5 million in early funding from angel investors.[34] In January 2016, the company released developer versions of its open-source, Chromium-based and privacy-focused Brave web browser,[35] which blocks ads and trackers,[36][37] and features built-in Tor-connected tabs.

    At Brave Software, Eich co-created the Basic Attention Token (BAT), a cryptocurrency designed for use in the Brave browser. BAT launched its ICO on May 31, 2017, and raised $35 million.[38]
    
     
  </p>
</div>
</body>

</html>