body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
  margin:0;
  padding:0;
}
html,body {
  margin:0;
  padding:0;
}
table {
  border-collapse:collapse;
  border-spacing:0;
}
fieldset,img { 
  border:0;
}
input{
  border:1px solid #b0b0b0;
  padding:3px 5px 4px;
  color:#979797;
  width:190px;
}
address,caption,cite,code,dfn,th,var {
  font-style:normal;
  font-weight:normal;
}
ol,ul {
  list-style:none;
}
caption,th {
  text-align:left;
}

q:before,q:after {
  content:'';
}
abbr,acronym { border:0;
}

body {
  background-image: url(/images/lightBack.jpeg);
 display: flex;
  flex-direction: column;
}

#creatorContainer{
  display: flex;
  justify-content: center;
}

h1{
  margin: 10px 0px;
}

h2{
  margin-top: 30px;
}

nav {
  background-color:transparent;
}

a{
  text-decoration: none;
  font-weight: bold;
  margin-top: 20px;
  font-size: 20px;
}

.navBar {
  display: flex;
  justify-content: space-around;
}

#creator {
  height: 100vw;
  
}

.images{
  height: 100%;
}


p{
  font-weight: bold;
  font-size: larger;
}

header{
  height: 30vh;
  background-image: url(/images/header_image.jpeg);
}


@media screen and (min-width: 480px) {
  h1, h2 {
    text-align: center;
  }

  .navBar {
    justify-content: flex-start;
  }

  a{
    margin: 10px 10px;
  }
  img{
    height: 200px;
    /* width: min-content; */
  }
  
  
  
  #creatorContainer {
  width: 100vw;
  justify-content: center;
   
  
  }
  
  /* body{
    justify-content: center;
  } */
  
  #creator{
    height: 50vw;
  }





}

